.order-list {
  padding: 32px 48px;
  .order-table {
    width: 100%;
    border-collapse: collapse;
    thead, tbody {
      width: 100%;
    }
    th, td {
      height: 36px;
      padding: 12px 0;
      text-align: center;
    }
    th {
      background-color: #f5f5f5;
    }
    td {
      border-bottom: 1px solid #bdbdbd;
    }
    .delete {
      padding: 4px 8px;
      font-size: 16px;
      color: #e53935 ;
      background-color: #bdbdbd;
      border: none;
      outline: none;
    }
  }
}
