.product-list {
  height: 100%;
  width: 100%;
  .products {
    display: flex;
    flex-wrap: wrap;
    .products-item {
      flex: 0 0 168px;
      margin-right: 32px;
      border: 1px solid #757575;
      padding: 12px;
      margin-top: 16px;
      .image {
        width: 100%;
      }
      .name {

      }
      .price {

      }
      .buy {
        display: inline-block;
        height: 48px;
        width: 48px;
        cursor: pointer;
        text-align: center;
        padding: 0;
        box-sizing: border-box;
        font-size: 36px;
        border-radius: 50%;
        border: 1px solid #757575;
        background-color: transparent;
        outline: none;
      }
    }
  }
}
