.nav-bar {
  height: 68px;
  background-color: #0d47a1;
  .nav {
    display: flex;
    height: 100%;
    .link {
      flex: 0 0 108px;
      a {
        display: inline-block;
        height: 100%;
        line-height: 68px;
        font-size: 22px;
        text-align: center;
        padding: 0 8px;
        color: #fafafa;
      }
      &.active {
        background-color: #2196f3;
        a {
          color: #ffffff;
        }
      }
    }
  }
}
