.product {
  .title {
    text-align: center;
  }
  .product-form {
    padding: 12px 36px;
    .field {
      margin-bottom: 48px;
      label {
        .required {
          color: red;
          margin-right: 3px;
        }
      }
      input {
        width: 100%;
        height: 32px;
        margin-top: 8px;
      }
    }
    .button-wrapper {
      .submit {
        width: 68px;
        height: 32px;
        background-color: #1e88e5;
        outline: none;
        border: none;
        color: #ffffff;
      }
    }
  }
}
